!!! 5
%html
	%head
		%title
			cc Studios
		%meta{charset: "utf-8"}
		%meta{content: "width=device-width, initial-scale=1", name: "viewport"}
		
		%link{href: "http://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
		%link{rel: "stylesheet", href: "css/materialize.min.css",  media: "screen,projection"}
		%link{rel: "stylesheet", href: "css/pure-js-carousel.css"}
		
		%script{type: "text/javascript", src: "https://code.jquery.com/jquery-2.1.1.min.js"}
		%script{type: "text/javascript", src: "js/materialize.min.js"}
		%script{type: "text/javascript", src: "js/pure-js-carousel.js"}
		%link{href: "css/101.css", rel: "stylesheet"}
	%body
		.header.my-container
			%nav.mobile
				.mob-nav-left
					.caption-menu
						Menu
					%ul#slide-out-left.side-nav
						%li
							%input{type: "search", placeholder: "search"}
						%li
							%a{href: "#"}
								studio
						%li
							%a{href: "#"}
								services
						%li
							%a{href: "#"}
								portfolio
						%li
							%a{href: "#"}
								logos
						%li
							%a{href: "#"}
								photo + film
						%li
							%a{href: "#"}
								extras
					%a#menu-left.button-collapse{href: "#", "data-activates": "slide-out-left"}
						%i.mdi-navigation-menu
				.mob-nav-right
					.caption-card
						card
					%ul#slide-out-right.side-nav
						%li
							%a{href: "#"}
								&lt;Continue Shoping
						%li
							%a{href: "#"}
								your cart is empty
					%a#menu-right.button-collapse{href: "#", "data-activates": "slide-out-right"}
						%i.mdi-navigation-menu


			.logo
				%a{href: "#"}
					%img{src: "img/logo.png", alt: "logo cc101studio"}
			.top
				.place
					Los Angeles // San Francisco // Phoenix
				.social
					.soc-twitter
					.soc-facebook
					.soc-pinterest
					.soc-instagram
			%nav.desktop
				%ul
					%li
						%a{href: "#"}
							studio
					%li
						%a{href: "#"}
							services
					%li
						%a{href: "#"}
							portfolio
					%li
						%a{href: "#"}
							logos
					%li
						%a{href: "#"}
							photo + film
					%li
						%a{href: "#"}
							extras
		.main.my-container
			.logo-mobile
				%a{href: "#"}
					%img{src: "img/logo.png", alt: "logo cc101studio"}
			.slider
				%ul.slides
					%li
						%img{src: "img/slideshow_1.jpg", alt: "slide 1"}
					%li
						%img{src: "img/slideshow_2.jpg", alt: "slide 2"}
					%li
						%img{src: "img/slideshow_3.jpg", alt: "slide 3"}
					%li
						%img{src: "img/slideshow_4.jpg", alt: "slide 4"}
			.pages
				.portfolio
					%a{href: "#"}
						%img{src: "img/Portfolio.jpg", alt: "portfolio"}
				.services
					%a{href: "#"}
						%img{src: "img/SERVICES_BANNER_copy.jpg", alt: "services"}
				.seo
					%a{href: "#"}
						%img{src: "img/SEO.jpg", alt: "seo"}
				.reviews
					%a{href: "#"}
						%img{src: "img/REVIEWS_BANNER.jpg", alt: "reviews"}
				.packaging-collateral
					%a{href: "#"}
						%img{src: "img/CC-Studios-Packaging-and-Collateral.jpg", alt: "packaging-collateral"}
				.extracs
					%a{href: "#"}
						%img{src: "img/1251.jpg", alt: "extracs"}
				.purse-projacts
					%a{href: "#"}
						%img{src: "img/PPGraphic_Update.jpg", alt: "purse-projacts"}
				.your-quote-request
					%a{href: "#"}
						%img{src: "img/quote-request.jpg", alt: "your-quote-request"}
			.our-clients
				%h3
					OUR CLIENTS
				#demo.carousel
					.slide
						%img{src: "img/Sprezza_Box_logo.jpg", alt: "logo our partner"}
					.slide
						%img{src: "img/Adventure_Kitty_Logo.jpg", alt: "logo our partner"}
					.slide
						%img{src: "img/Courage_Beauty_Logo.jpg", alt: "logo our partner"}
					.slide
						%img{src: "img/Smooth_8_Logo_blue.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Barkley_s_Mill_logo.jpg", alt: "logo our partner"}
					.slide
						%img{src: "img/Monster_Moda_Logo.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Haute_Hips_Logo.jpg", alt: "logo our partner"}
					.slide
						%img{src: "img/Blak-Label.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Beauty-Call.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Smitten_Lingerie_Logo.jpg", alt: "logo our partner"}
					.slide
						%img{src: "img/Lotus_Lashes_Logo.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Petit-Vour.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Totokan.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Weekend-Casual.png", alt: "logo our partner"}
					.slide
						%img{src: "img/iOgrapher.png", alt: "logo our partner"}
					.slide
						%img{src: "img/YogaDude.png", alt: "logo our partner"}
					.slide
						%img{src: "img/The-Ridge.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Elodie-K.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Bryan-Baker-Music.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Bamboo-Throw.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Mamf.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Believe-in-Pets.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Bombshell.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Bougambilia.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Bump-Maternity.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Candida-Maria.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Compassionate-Closet.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Cor.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Craft-of-Tea.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Emalee-Designs.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Fig-Tree.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Kash-Collection.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Lucente.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Mibo.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Missy-Briscoe.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Mychael-Darwin.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Pretty-and-Chic-Boutique.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Print-Naked.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Runkz.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Scotch-Naturals.png", alt: "logo our partner"}
					.slide
						%img{src: "img/Thread-and-Sparkle.png", alt: "logo our partner"}

		.pre-footer.wide-container
			.join-us.my-container
				.container-text
					%h2
						COME ON. GET CONNECTED.
					%p
						Subscribe to our weekly industry updates, creative ideas and insights that help your business SHINE.
				%form#contact-form
					%input.newsletter-email(required){type: "email", name: "contact[email]", pattern: "[^ @]*@[^ @]*", placeholder: "EMAIL"}
					%input.newsletter-join{type: "submit", value: "JOIN US"}
		
		.footer.my-container
			%ul
				%li
					%a{href: "#"}
						COMPANY
				%li
					%a{href: "#"}
						GET A QUOTE
				%li
					%a{href: "#"}
						INVESTOR INQUIRIES
				%li
					%a{href: "#"}
						PORTFOLIO
				%li
					%a{href: "#"}
						PACKAGING
				%li
					%a{href: "#"}
						GO MOBILE
				%li
					%a{href: "#"}
						CAREERS
				%li
					%a{href: "#"}
						GET CONNECTED
				%li
					%a{href: "#"}
						CONTACT
				%li
					%a{href: "#"}
						TERMS + POLICIES
			.footer-logo
				%a{href: "#"}
					%img{src: "img/shopify-experts.png", alt: "shopify experts logo"}
				%a{href: "#"}
		:javascript
			$(document).ready(function(){
				$('.slider').slider({full_width: true});
			});
			var carouselDefault = new PureJSCarousel({
				carousel: '#demo',
				slide: '.slide'
			});

			$("#menu-left").sideNav({
				menuWidth: 300
			});

			$("#menu-right").sideNav({
				menuWidth: 300, edge: 'right'
			});

			window.onscroll = function() {
				var scrolled = window.pageYOffset || document.documentElement.scrollTop;
				var elem = document.querySelector('.header');
				if (scrolled>10) {
					elem.style.borderBottom = "1px solid #cfcfcf";
				} else {
					elem.style.borderBottom = "none";
				}
			}
